!!! 5
html(itemscope, itemtype="http://schema.org/Article")
  head
    title #{title}
    meta(property="og:title", value="#{title}")
    if (locals.description)
      meta(description="#{locals.description}")
      meta(name="twitter:description", value="#{locals.description}")
      meta(property="og:description", value="#{locals.description}")
    if (locals.keywords)
      meta(keywords="#{locals.keywords}")
      meta(itemprop="keywords", content="#{locals.keywords}")
    meta(charset="utf-8") 
    meta(name="author", content="George Ornbo")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="twitter:card", value="summary")
    meta(name="twitter:title", value="#{title}")
    meta(name="twitter:site", value="@shapeshed")
    meta(name="twitter:creator", value="@shapeshed")
    meta(name="twitter:domain", value="shapeshed.com")
    meta(property="og:type", value="article")
    meta(property="og:site_name", value="Shape Shed")
    meta(itemprop="isFamilyFriendly", content="true")
    meta(itemprop="inLanguage", content="en-GB")
    link(rel="stylesheet", href="/stylesheets/screen.css")
    link(href="/atom.xml", rel="alternate", title="Shape Shed", type="application/atom+xml")
    link(rel="author", href="https://plus.google.com/u/0/112147367550950112369/posts")
    link(rel="publisher", href="https://plus.google.com/u/0/112147367550950112369")
  body
    block content
    footer
      h2 About the author
      p George Ornbo is a full-stack developer based in London, UK. He is the author of <a href="http://nodejsbook.io" class="highlight">Sams Teach Yourself Node.js in 24 Hours</a>. He can be found in most of the usual places as shapeshed including <a href="https://twitter.com/shapeshed" class="highlight">Twitter</a> and <a href="https://github.com/shapeshed" class="highlight">GitHub</a>.
      p 
        a(href="/").highlight ← http://shapeshed.com
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-324369-3']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    script(src="/javascripts/application.js")
    script
      hljs.initHighlightingOnLoad();
