extends layout

block content
  article
    p 
      time(datetime="#{post.date.toISOString()}", data-updated="true")= post.date.toLocaleDateString()
    h1 #{post.title}
    h2.dropcap #{post.description}
    !{post.markup}
    h2 Tags
    ul
      each tag in post.tags
        li
          a(href="/tags/#{tag.replace(/\s+/g, '-').replace(/\.+/g, '-').toLowerCase()}") 
            =tag
    h2 About the author
  footer
    p George Ornbo is a JavaScript and Ruby developer based in London, UK. He is the author of <a class="highlight" href="http://nodejsbook.io">Sams Teach Yourself Node.js in 24 Hours</a>. 
    ul
      li
        a.highlight(href="/") Home
      li
        a.highlight(href="https://github.com/shapeshed") GitHub
      li
        a.highlight(href="https://twitter.com/shapeshed") Twitter
      li
        a.highlight(href="http://shapeshed.com/atom.xml") RSS Feed
