extends layout

block content
  article
    p.twitter
      a(href="https://twitter.com/shapeshed") @shapeshed
    p.date 
      time(datetime="#{post.date.toISOString()}", data-updated="true", itemprop="datePublished")= post.date.toLocaleDateString('en-GB', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
    h1(itemprop="headline name") #{post.title}
    div(itemprop="articleBody")
      h2.dropcap(itemprop="description") #{post.description}
      !{post.markup}
    p Have an update or suggestion for this article? 
      a(href="https://github.com/shapeshed/shapeshed.com/blob/master/src/_posts/#{post.slug}.md") You can edit it here and send me a pull request.
