extends layout

block content
  article
    p 
      time(datetime="#{post.date.toISOString()}", data-updated="true")= post.date.toLocaleDateString()
    h1 #{post.title}
    h2.dropcap #{post.description}
    !{post.markup}
    h2 Tags
    ul
      each tag in post.tags
        li
          a(href="/tags/#{tag.replace(/\s+/g, '-').replace(/\.+/g, '-').toLowerCase()}") 
            =tag
    h2 About the author
